
.navbar-admin {
  background-color: #CAF3E4;
  margin: 20px;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

.navbar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.navbar-bottom button {
  border: 1px solid #576B64;
  border-radius: 50px;
  padding: 20px 40px;
  background-color: transparent;
  color: #576B64;
  font-weight: bold;
  cursor: pointer;
}

.navbar-bottom button:hover {
  background-color: #576B64;
  color: #fff;
}

.admin-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 50%;
  height: auto;
  background-color: #576B64;
  margin: 20px;
  border-radius: 20px;
}

.top-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
  position: absolute;
  top: 0;
}

/* .navbar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.navbar-bottom button {
  border: 1px solid #576B64;
  border-radius: 50px;
  padding: 20px 40px;
  background-color: transparent;
  color: #576B64;
  font-weight: bold;
  cursor: pointer;
} */

.chart-box {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 485px;
  height: 230px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-table-section {
  margin-top: 100px;
  padding: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.data-table-section h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}
